{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ]
  ],
  "ignore": [
    "**/babel_ignore_*.js",
    "*/js/framework/*.js",
    "*/js/libraries/*.js",
    "*/js/plugins/*.js",
    "*/js/separate-js/*.js"
  ]
}
