/* stylelint-disable scss/at-rule-no-unknown */
// Colors
$primary-color: #000 !default;

$body-bg: #fff !default;
$body-color: $primary-color !default;

// Typography
$main-font: Roboto, "Helvetica", sans-serif !default;

// http://lostgrid.org/
@lost flexbox flex;
@lost gutter 0;
