include ../static/pug/plugins/bemto/bemto.pug
include ../components/head/head.pug

doctype html
html(class="no-js", lang="ru")
	+head(head)
	block content
	block scripts

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')

